Repository criscit/finance-analytics-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: dbt-deps, dbt-lint, mypy, pytest-unit

dbt-deps:
  name: dbt deps
  entry: bash -c 'cd transform/dbt && poetry run dbt deps --profiles-dir profiles'
  language: system
  stages:
  - pre-commit
  pass_filenames: false

dbt-lint:
  name: dbt lint
  entry: poetry run dbt parse --profiles-dir profiles
  language: system
  stages:
  - pre-commit
  pass_filenames: false

mypy:
  name: mypy (poetry)
  entry: poetry run mypy
  language: system
  stages:
  - pre-push

pytest-unit:
  name: pytest unit tests (poetry)
  entry: poetry run pytest -m unit --tb=short
  language: system
  stages:
  - pre-push
  pass_filenames: false

Add export and maintenance logic
  .env.example
  .github/workflows/ci.yaml
  .gitignore
  README.md
  docker-compose.yml
  docs/docs/architecture.md
  docs/docs/diagrams.md
  orchestration/assets_export_csv.py
  orchestration/assets_export_sheets.py
  orchestration/assets_ingest.py
  orchestration/assets_maintenance.py
  orchestration/repo.py
  src/duckdb_utils.py
  src/google_sheets.py
  tests/conftest.py
  tests/dagster/test_assets_export_sheets.py
  tests/e2e/test_pipeline.py
  tests/integration/test_integration.py
  tests/unit/test_duckdb_utils.py
  tests/unit/test_google_sheets.py
Due: mypy, pytest-unit

Fix all tests: proper mocking, DuckDB connections, and remove flaky test
  tests/dagster/test_assets_export_csv.py
  tests/dagster/test_assets_export_sheets.py
  tests/dagster/test_assets_ingest.py
  tests/dagster/test_assets_quality_ge.py
  tests/dagster/test_assets_transform_dbt.py
  tests/integration/test_data_quality.py
  tests/integration/test_integration.py
Due: mypy, pytest-unit

Migrate logging to loguru
  .dockerignore
  LICENSE
  README.md
  data/contracts/bakai_transactions.yaml
  data/contracts/binance_assets.yaml
  data/contracts/bybit_assets.yaml
  data/contracts/bybit_p2p_trades.yaml
  data/contracts/bybit_spot_orders.yaml
  data/contracts/t_bank_transactions.yaml
  data/contracts/telegram_assets.yaml
  data/contracts/telegram_earn.yaml
  data/contracts/telegram_p2p_trades.yaml
  docs/docs/architecture.md
  docs/docs/data-model.md
  docs/docs/diagrams.md
  docs/docs/index.md
  docs/docs/runbook.md
  docs/mkdocs.yml
  orchestration/assets_export_assets_sheets.py
  orchestration/assets_export_sheets.py
  orchestration/assets_ingest.py
  orchestration/assets_maintenance.py
  orchestration/assets_quality_ge.py
  orchestration/assets_transform_dbt.py
  orchestration/quality_gx/bootstrap.py
  poetry.lock
  pyproject.toml
  src/duckdb_utils.py
  src/google_sheets.py
  src/logging_config.py
  src/scripts/backfill_range.py
  tests/conftest.py
  tests/fixtures/sample_data.py
  tests/integration/test_data_quality.py
  tests/unit/test_utilities.py
  transform/dbt/models/staging/bakai/stg_load_bakai_transactions.sql
  transform/dbt/models/staging/t_bank/stg_load_t_bank_transactions.sql
  transform/dbt/profiles/profiles-ci.yml
Due: dbt-lint, mypy, pytest-unit

Add scd2 loading for assets and fix deletion after double ingestion
  orchestration/assets_ingest.py
  src/duckdb_utils.py
  src/ingestion/service.py
  transform/dbt/dbt_project.yml
  transform/dbt/macros/generate_schema_name.sql
  transform/dbt/models/core/binance/core_load_binance_assets.sql
  transform/dbt/models/core/binance/core_load_binance_assets.yml
  transform/dbt/models/core/bybit/core_load_bybit_assets.sql
  transform/dbt/models/core/bybit/core_load_bybit_assets.yml
  transform/dbt/models/core/bybit/core_load_bybit_earn.sql
  transform/dbt/models/core/bybit/core_load_bybit_earn.yml
  transform/dbt/models/core/telegram/core_load_telegram_assets.sql
  transform/dbt/models/core/telegram/core_load_telegram_assets.yml
  transform/dbt/models/core/telegram/core_load_telegram_earn.sql
  transform/dbt/models/core/telegram/core_load_telegram_earn.yml
  transform/dbt/models/integration_marts/imart_bind_assets.sql
  transform/dbt/models/marts/binance/mart_load_binance_assets.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_assets.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_earn.sql
  transform/dbt/models/marts/telegram/mart_load_telegram_assets.sql
  transform/dbt/models/marts/telegram/mart_load_telegram_earn.sql
  transform/dbt/snapshots/snap_binance_assets.sql
  transform/dbt/snapshots/snap_bybit_assets.sql
  transform/dbt/snapshots/snap_bybit_earn.sql
  transform/dbt/snapshots/snap_telegram_assets.sql
  transform/dbt/snapshots/snap_telegram_earn.sql
Due: dbt-lint, mypy, pytest-unit

Change imarts
  transform/dbt/models/integration_marts/imart_bind_assets.sql
  transform/dbt/models/integration_marts/imart_bind_assets.yml
  transform/dbt/models/integration_marts/imart_bind_transactions.sql
  transform/dbt/models/integration_marts/imart_bind_transactions.yml
  transform/dbt/models/marts/bybit/mart_load_bybit_p2p_trades.sql
Due: dbt-lint

Add total yield for bybit and modify asset marts
  transform/dbt/models/integration_marts/imart_bind_assets.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_earn.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_earn.yml
  transform/dbt/models/marts/telegram/mart_load_telegram_earn.sql
  transform/dbt/models/marts/telegram/mart_load_telegram_earn.yml
  transform/dbt/selectors.yml
Due: dbt-lint

Fix export
  env.example
  orchestration/assets_export_assets_sheets.py
  orchestration/assets_export_csv.py
  orchestration/assets_maintenance.py
  orchestration/repo.py
  src/duckdb_utils.py
  src/google_sheets.py
  tests/unit/test_duckdb_utils.py
  transform/dbt/macros/table_naming.sql
  transform/dbt/models/integration_marts/imart_bind_assets.sql
  transform/dbt/models/integration_marts/imart_bind_assets.yml
  transform/dbt/models/integration_marts/imart_bind_transactions.sql
Due: dbt-lint, mypy, pytest-unit

Add unified account assets for bybit and change assets views to be tables
  data/contracts/bybit_assets.yaml
  transform/dbt/models/integration_marts/imart_bind_assets.sql
  transform/dbt/models/marts/binance/mart_load_binance_assets.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_assets.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_earn.sql
  transform/dbt/models/marts/telegram/mart_load_telegram_assets.sql
  transform/dbt/models/marts/telegram/mart_load_telegram_earn.sql
  transform/dbt/seeds/mappings/transactions_column_map.csv
  transform/dbt/snapshots/snap_bybit_assets.sql
Due: dbt-lint

Add time for export to google sheet
  orchestration/assets_export_sheets.py
  src/duckdb_utils.py
  src/utils.py
  transform/dbt/models/integration_marts/imart_bind_transactions.sql
  transform/dbt/models/integration_marts/imart_bind_transactions.yml
Due: dbt-lint, mypy, pytest-unit

Remove cashbask from t-bank transactions
  transform/dbt/models/integration_marts/imart_bind_transactions.sql
Due: dbt-lint

Change core and mart models incremental loading, change imart timestamp handling for t bank, actualize documentation
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  transform/dbt/models/core/bakai/core_load_bakai_transactions.yml
  transform/dbt/models/core/binance/core_load_binance_convert_trades.yml
  transform/dbt/models/core/binance/core_load_binance_fiat_orders.yml
  transform/dbt/models/core/binance/core_load_binance_fiat_payments.yml
  transform/dbt/models/core/binance/core_load_binance_p2p_trades.yml
  transform/dbt/models/core/binance/core_load_binance_spot_orders.yml
  transform/dbt/models/core/bybit/core_load_bybit_convert_trades.yml
  transform/dbt/models/core/bybit/core_load_bybit_deposits.yml
  transform/dbt/models/core/bybit/core_load_bybit_earn_yield.yml
  transform/dbt/models/core/bybit/core_load_bybit_internal_transfers.yml
  transform/dbt/models/core/bybit/core_load_bybit_p2p_trades.yml
  transform/dbt/models/core/bybit/core_load_bybit_spot_orders.yml
  transform/dbt/models/core/bybit/core_load_bybit_withdrawals.yml
  transform/dbt/models/core/t_bank/core_load_t_bank_transactions.yml
  transform/dbt/models/core/telegram/core_load_telegram_general_transactions.yml
  transform/dbt/models/core/telegram/core_load_telegram_p2p_trades.yml
  transform/dbt/models/integration_marts/imart_bind_transactions.sql
  transform/dbt/models/marts/bakai/mart_load_bakai_transactions.sql
  transform/dbt/models/marts/binance/mart_load_binance_convert_trades.sql
  transform/dbt/models/marts/binance/mart_load_binance_fiat_orders.sql
  transform/dbt/models/marts/binance/mart_load_binance_fiat_payments.sql
  transform/dbt/models/marts/binance/mart_load_binance_p2p_trades.sql
  transform/dbt/models/marts/binance/mart_load_binance_spot_orders.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_convert_trades.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_deposits.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_earn_yield.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_internal_transfers.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_p2p_trades.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_spot_orders.sql
  transform/dbt/models/marts/bybit/mart_load_bybit_withdrawals.sql
  transform/dbt/models/marts/t_bank/mart_load_t_bank_transactions.sql
  transform/dbt/models/marts/telegram/mart_load_telegram_general_transactions.sql
  transform/dbt/models/marts/telegram/mart_load_telegram_p2p_trades.sql
Due: dbt-lint

Add Playwright transaction fetcher for T-Bank/Ozon/WB
  Makefile
  poetry.lock
  pyproject.toml
  scripts/fetch_sources.py
Due: mypy, pytest-unit

Parse space-separated ISO datetimes in parse_date_string
  src/utils.py
Due: mypy, pytest-unit

Tune ruff: ban print (T20), allow loguru brace logging
  pyproject.toml
Due: none

Drop WSL path and switch fetch script to loguru
  scripts/fetch_sources.py
Due: mypy, pytest-unit

Use loguru brace-style formatting in logging calls
  orchestration/assets_quality_ge.py
  orchestration/quality_gx/bootstrap.py
  src/google_sheets.py
  src/scripts/backfill_range.py
Due: mypy, pytest-unit

Split fetch script into scripts/fetch package
  Makefile
  pyproject.toml
  scripts/fetch/__init__.py
  scripts/fetch/__main__.py
  scripts/fetch/browser.py
  scripts/fetch/core.py
  scripts/fetch/sources/__init__.py
  scripts/fetch/sources/ozon.py
  scripts/fetch/sources/tbank.py
  scripts/fetch/sources/wb.py
  scripts/fetch_sources.py
Due: mypy, pytest-unit

Make scripts a package so mypy resolves scripts.fetch unambiguously
  scripts/__init__.py
Due: mypy, pytest-unit

Add WB Кошелёк fetcher: wallet cards + receipt items
  scripts/fetch/__main__.py
  scripts/fetch/browser.py
  scripts/fetch/core.py
  scripts/fetch/sources/ozon.py
  scripts/fetch/sources/wb.py
Due: mypy, pytest-unit

Add WB and Ozon data contracts for prod_raw ingestion
  data/contracts/ozon_transactions.yaml
  data/contracts/wb_transactions.yaml
Due: none

Wire Marketplace (WB, Ozon) into ingestion
  orchestration/assets_ingest.py
  orchestration/repo.py
Due: mypy, pytest-unit

Path conditions:
  dbt-deps: any of: ^transform/dbt/packages\.yml$
  dbt-lint: any of: ^transform/dbt/.*\.sql$
  mypy: any of: \.py$
  pytest-unit: any of: \.py$
